/*  Body setting */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* More pixelated font */
  font-family: "VT323", monospace;
}

body,
.snake {
  background-color: #414141;
}

/* Menu and logo */
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#instruction-text {
  width: 300px;
  margin: 0;
  text-align: center;
  color: #333;
  text-transform: capitalize;
}

#logo-image {
  width: 500px;
  height: 300px;
}

/* Score */
.score-wrapper {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#high-score {
  margin: 10px 0;
  font-size: 40px;
  font-weight: bold;
}

#high-score {
  display: none;
  color: #d8ddca;
}

/* Game board */

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
  border-radius: 100px;
}

.game-border-1 {
  border: 10px solid #595f43;
  border-radius: 30px;
  /* To avoid the little gaps caused by border radius when multiple nested boxes are created */
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: 8px solid #abb78a;
  border-radius: 26px;
  /* To avoid the little gaps caused by border radius when multiple nested boxes are created */
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: 30px solid #8b966c;
  border-radius: 20px;
  /* To avoid the little gaps caused by border radius when multiple nested boxes are created */
  box-shadow: inset 0 0 0 5px #8b966c;
}

.game-border-3 {
  background-color: #c4cfa3;
}

/* Game element */

.snake {
  border: 1px dotted #5a5a5a;
}

.food {
  border: 5px solid #999;
  background-color: #dedede;
}
